body {
    margin: 0px;
}

#sec1{
    background-image:url("/background-image.jpg") ;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    align-content: stretch;
    font-family: Poppins, sans-serif;
}

nav  h1{
    color:darkgreen ;
    padding: 0px;
    margin: 0px;
}

nav  h2{
    color: darkgreen;
}

nav h2{
    text-align: center;
}

h1{
    font-size: 20px;
  }

nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    align-items: self-end;
    font-size: 10px;
    margin-top: 70px;
    initial-inline-start: unset;
                    
}

nav ul li{

    margin: 0 1rem;
    font-weight: 700;
    font-size:1rem
}

.slogan{
    text-align: center;
    font-size: 1rem;
    margin-top: 100px;
    font-weight:600;
}

.content button{
    font-size: 0.5rem;
    color:#fff;
    background-color:#baeb34  ;
    border: dotted ;
    padding: 0.7rem, 0.7 rem;
    cursor: pointer;
    transition: all .3s ease;
}

.content button:hover{
    background-color:#518c3e  ;
    border-radius: 5px
}
        

    
}

