#main{
    background-image:url("/background-image.jpg") ;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    align-content: stretch;
}

           
                      
